#success_message{ display: none;}
.fff{background-color:#3a3a3af1 ;}
.top{padding-top: 25px;}
.control-label{color: rgba(255, 255, 255, 0.884);font-size:18px;font-weight: 300;}
.package{color: rgba(255, 255, 255, 0.884);font-size:16px;font-weight: 300;}
.bolds{font-weight: 400;font-style: italic;}